@model Order

<div class="card shadow border-0 mt-4">
    <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Πληροφορίες Συναυλίας</h2>
                </div>
            </div>
        </div>
        <div class="hsep5">
               <div class="col-xs-6 col-sm-12" style="background-color:lavender;">
                <h2 class="sp-header">"@ViewBag.Concert.ConcertName"</h2>
                <p>
                    <b>Χώρος Συναυλίας </b> <input value="@ViewBag.Concert.MusicVenue.Name" disabled class="form-control border-0 shadow" />
                </p>
                <p><b>Ημ/νια Συναυλίας </b>: <input value="@ViewBag.Concert.ConcertDate" disabled class="form-control border-0 shadow" /></p>
                </div>          
        </div>
    </div>
    <br />
    <br />
    <div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Πληροφορίες Εισητηρίου</h2>
                </div>
            </div>
        </div>        
        <div class="hsep5">
               <div class="col-xs-6 col-sm-12" style="background-color:lavender;">
                <p><b>Τύπος Είσητηρίου: </b> <input value="Κανονικό" disabled class="form-control border-0 shadow" /></p>
                <p><b>Τιμή: </b><input value="@ViewBag.Concert.Price" disabled class="form-control border-0 shadow" /></p>
                </div>          
        </div>
    </div>
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                    <h2 class="text-white py-2">Πληροφορίες Κράτησης</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="ConcertId" value="@ViewBag.Concert.Id" hidden />
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-0 shadow"/>
                    <label asp-for="Name" class="ms-2">Όνομα</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="SurName" class="ms-2">Επίθετο</label>
                    <input asp-for="SurName" class="form-control shadow"/>
                    <span asp-validation-for="SurName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Phone" class="ms-2">Τηλέφωνο</label>
                    <input asp-for="Phone" class="form-control shadow"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Email" class="ms-2">Email</label>
                    <input asp-for="Email" class="form-control shadow"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Συνέχεια στην πληρωμή</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-area="Customer" asp-controller="Order" asp-action="Index" asp-route-id="@ViewBag.Concert.ArtistId" class="btn btn-outline-primary border  form-control">
                            Επιστροφή στη Λίστα
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
