@model Artist
<head>
    <style>
        body {
            background-image: url(@Model.ImageUrl);
            background-size: cover;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">           
            <div class="row">               
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Συναυλίες του Καλλιτέχνη @Model.Name</h2>
                </div>
            </div>
        </div>
        <h3 style="text-decoration:underline; padding-left:30px;">Πληροφορίες για τον Καλλιτέχνη</h3>
        <div class="row">
            <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
@*                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvmgVYEk22unyliOujnlAHxdQUFYllM80379Wv2evSvGkFcGDK" width="100%" class="card-img-top rounded" />
 *@            </div>
            <div>
                <p style="padding-left:30px; padding-right:20px">@Model.Biography</p>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <table>
                    <thead>
                        <tr>
                            <th>ΗΜΕΡΟΜΗΝΙΑ ΣΥΝΑΥΛΙΑΣ</th>
                            <th>ΧΩΡΟΣ</th>
                            <th>ΤΙΜΗ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Concerts != null)
                        {
                            @foreach (var obj in ViewBag.Concerts)
                            {
                                <tr>
                                    <td>@obj.ConcertDate</td>
                                    <td>@obj.MusicVenue.Name</td>
                                    <td>@obj.Price</td>
                                    <td>
                                        @if (@obj.ButtonColor != null)
                                        {
                                            <div class="w-75 btn-group" role="group">
                                                <a asp-action="Create" asp-route-id="@obj.Id" class="btn btn-primary mx-2" style="color:black; background-color:@obj.ButtonColor">
                                                    <b>Κράτηση</b>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <p><b>Sold out</b></p>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
