<!DOCTYPE html>
<html lang="en">
@model List<Order>
<head>
    <title>Orders</title>
</head>

<body>

    <header>
        <h2>Κρατήσεις</h2>
    </header>
    <div class="container">
        <form method="post" id="addPresentsForm">
        <table class="ws-table-all w3-bordered w3-striped w3-border test w3-hoverable" style="width:fit-content;">
            <thead>
                <tr>
                    <th>ΟΝΟΜΑ</th>
                    <th>ΕΠΩΝΥΜΟ</th>
                    <th>ΤΗΛΕΦΩΝΟ</th>
                    <th>EMAIL</th>
                    <th>ΣΥΝΑΥΛΙΑ</th>
                    <th>ΗΜ/ΝΙΑ ΣΥΝΑΥΛΙΑΣ</th>
                    <th>ΠΑΡΩΝ</th>
                </tr>
            </thead>               
        <tbody>
                @if (Model != null)
                {
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.SurName</td>
                            <td>@obj.Phone</td>
                            <td>@obj.Email</td>
                            <td>@obj.Concert.ConcertName</td>
                            <td>@obj.Concert.ConcertDate</td>
                            <td>
                                <button type="submit" asp-action="AddPresents" asp-route-id="@obj.Id" class="btn btn-primary form-control">Παρών</button>
                            </td>
                        </tr>
                    }
                }
        </tbody>
     </table>

        <button type="submit" onclick="addPresents()" id="AddPresentsbutton" style="background-color: #04AA6D;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">
          Προσθήκη Παρουσιών
        </button>
        </form>
    </div>
</body>
</html>

@section Scripts{
    <script>
        function addPresents() {
            $.ajax({
                type: 'POST',
                url: '/Order/AddPresents',
                data: JSON.stringify(orders),
                contentType: 'application/json',
            });
        }
    </script>
}